/*GLOBAL STYLES*/
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva , sans-serif;
}
/*
*/

h1, h2, h3{
  margin: 0px;
}

a{
  text-decoration: none;
  color: #333333;
}

ul{
  list-style-type: none;
}

/*HEADER STYLES*/
header{
height: 120px;
background-color: #999999;
}

#logo{
  width: 300px;
  float: left;
  position: absolute;
  top: 35px;
  left: 100px;
}

#menu{
  position: absolute;
  top: 35px;
  right: 100px;
}

#menu ul{
  display: inline-block;
}
#menu li{
  display: block;
  float: left;
  padding: 10px;
}
#menu li:after{
  padding: 0px 10px;
  content: " | ";
}

#menu a:hover{
  color: #adad85
}
#banner-home{
  height: 500px;
  background-color: #c2c2a3;
  background-size: cover;
  background-image:url(../img/sky.jpg);
  margin-bottom: 20px;

}
#banner-home h1{
text-align: center;
padding: 90px 0px;
}

/*BLOG STYLES */
.container{
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}
.blog-1, .blog-2{
  width: 384px;
  float: left;
  margin-right: 24px;
}
.blog.3{
  width: 384px;
  float: left;
}
.blog-image{
  height: 285px;
  width: 380px;
  margin: 0px 2px;
}
#blog{
  margin-bottom: 20px;
}

#blog h2{
  text-align: center;
  margin: 10px 0px;
}
#blog p{
  text-align: justify;

}
.button{
  padding: 15px 35px;
  background-color:#999999;
  border: 2px solid #0000cc;
  border-radius: 8px;
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  color: #333
  margin: 10px 0px
}
.button:hover{
  background-color: #333;
  color: #999999;
}
/* ABOUT STYLES*/
#about{
border: 2px dotted #333;
padding: 10px;
border-radius: 4px;
}
.align-left{
  margin-right: 24px;
  margin-top:  10px;
  float: left;
  width: 384px;
}
.selfie{
  height: 400px;
  width: 384px;
}
figure{
  margin: 0px;
  padding: 0px;
}
#about h1{
  text-align: center;
  font-size: 3em;
}

/*Footer STYLEs*/
footer{
  margin-top: 20px;
  clear: both;
}
#copyright{
  padding: 30px 0px;
  background-color: #a1d072;
  display: block;
  color: #7272d0;
}
#copyright{
  text-align: center;
  font-size: 1.5em;
}
.fa {
  height: 28px;
  width: 28px;
  background-color: #7272d0;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 15px;
  font-size: 28px !Important;
}
#video{
  text-align: center;
}

.video-container{
  background-color: #b3ffff;
}
#about-page h1{
  text-align: center;
}

#video{
  float: left;
}
#id{
  background-color: #66ccff;
}
#about-page{
  background-color: #4dc3ff;
}
